.env
venv*/
__pycache__/
token.json
client_secret.json
output/
logs/
job_data.json
kaggle.json

# Ignore media/weights globally except in assets/
*.mp4
*.mp3
*.wav
*.m4a
*.jpg
*.png
*.onnx
*.bin
*.pth

# Exclude assets/ contents from the above ignore rules
!assets/**
!assets/fonts/*.ttf
!assets/music/*.mp3
!assets/logo.png
